.dropbox
comments/
plain_abstract
trkjet-auxmat.log
trkjet.blg
trkjet.log
trkjet.out
trkjet.run.xml
trkjet.synctex.gz
trkjet.toc
trkjet_v01.pdf
trkjet_v11.pdf
trkjet-auxmat.aux
trkjet-blx.bib
trkjet.aux
trkjet.bbl
trkjet.pdf
trkjet.aux
